{% extends "layout.html.twig" %}

{% set adminMenu = true %}
{% block title %}Administration{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset('images/admin_lt.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{{ parent() }}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
                <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
                <li><a href="#users" data-toggle="tab">Utilisateur</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active adminTable" id="articles">
            {% include "admin_article.html.twig" %}
        </div>
        <div class="tab-pane fade  adminTable" id="comments">
            {% include "admin_comment.html.twig" %}
        </div>
        <div class="tab-pane fade adminTable" id="users">
            {% include "admin_user.html.twig" %}
        </div>
    </div>
{% endblock %}

