{% if comments  %}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Signalé</th>
                <th>Contenu</th>

            </tr>
            </thead>
            {% for comment in comments %}
                <tr{%  if  comment.signal %} class="alert alert-danger"{%  endif %}>
                    <td>{%  if  comment.signal %} Oui {%  endif %}</td>
                    <td>{{ comment.content | truncate(60) }}</td>


                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">Aucun commentaire trouvé.</div>
{% endif %}
<a href="{{ path('admin_article_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un commentaire </button></a>