.container {
    margin: 10px;
}

.container .row{
    background-color: #444444;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: #fff;
}

#loading-div {
    display: none;
}

#button-more{
    cursor: pointer;
    margin: 0 auto;
    background-color: #aeaeae;
    color: #fff;
    width: 200px;
    height: 50px;
    line-height: 50px;
}